#education-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--white);
  overflow-x: hidden;
}

.education,
.experience {
  padding: 3rem;
}

.education {
  transform: translateX(-7rem);
  opacity: 0;

  transition: transform 1s ease, opacity 1s ease;
}

.experience {
  transform: translateX(7rem);
  opacity: 0;

  transition: transform 1s ease, opacity 1s ease;
}

#education-section .animate-education {
  transform: translateX(0);
  opacity: 1;
}

#education-section h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.6rem;
  text-shadow: .2rem .2rem .3rem #000;
}

.cv-item {
  border-left: 0.15rem solid var(--bg-color);
  padding-left: 2rem;
  padding-bottom: 1rem;
  position: relative;
}

.cv-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1.12rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  border: 0.15rem solid var(--bg-color);
  background-color: var(--white);
}

/* Icons inside white dots */
.graduation::before {
  background-image: url(../images/icons/graduation-cap.jpg);
  background-size: contain;
}

.school::before {
  background-image: url(../images/icons/school-bag.jpg);
  background-size: contain;
}

.ht::before {
  background-image: url(../images/icons/ht-logo.jpg);
  background-size: contain;
}

.soldered::before {
  background-image: url(../images/icons/soldered-logo.jpg);
  background-size: contain;
}

.ofir::before {
  background-image: url(../images/icons/ofir-logo.jpg);
  background-size: contain;
}

.job-title {
  margin-bottom: 0.7rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-shadow: .2rem .2rem .3rem #000;
}

.duration {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: .9rem;
  font-weight: 700;
  background-color: var(--main-color);
  color: var(--bg-color);
  padding: 0.35rem .8rem;
  border-radius: 0.15rem;
}

.company {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: .9rem;
}

.cv-item ul {
  font-size: .85rem;
  margin-left: 2.5rem;
}

.cv-item ul li {
  margin-bottom: 0.3rem;
}


/* ----------- Code for responsive design ----------- */
@media only screen and (max-width: 750px) {
  #education-section {
    grid-template-columns: 1fr;
  }

  #education-section h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .education {
    padding: 3rem 3rem 1rem 3rem;
  }
}

@media only screen and (max-width: 650px) {
  .job-title {
    margin-bottom: 0.7rem;
    font-size: 1rem;
  }

  .duration {
    font-size: .8rem;
  }

  .company {
    margin-bottom: 1rem;
    font-size: .9rem;
  }

  .education {
    padding: 3rem 2rem 1rem 2.5rem;
  }

  .experience {
    padding: 2rem 2rem 3.5rem 2.5rem;
  }
}