:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --main-color: #0ef;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--second-bg-color);
  
  /*Test for bigger screens*/
  max-width: 2000px;
  margin: auto;
}

/* maknuti na kraju, samo za zabiljeske da imam odma na stranici kaj treba */
.note {
  color: #df006f;
}