:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --main-color: #0ef;
  --white: #fff;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--second-bg-color);

  /*Test for bigger screens*/
  max-width: 2000px;
  margin: auto;
}

/* maknuti na kraju, samo za zabiljeske da imam odma na stranici kaj treba */
.note {
  color: #df006f;
}


.small-title {
  color: var(--white);
}

.big-title {
  color: var(--white);
  font-size: 2.5rem;
}

.paragraph {
  color: var(--white);
  line-height: 1.4;
}

.btn {
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: .3rem;
  color: var(--second-bg-color);
  background-color: var(--main-color);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;

  transition: box-shadow .15s ease;
}

.btn:hover {
  box-shadow: 0 0 1.5rem var(--main-color);
}