header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul li {
  display: inline-block;
  list-style: none;
  margin: 25px 30px;
}

header ul li a {
  font-size: 26px;
  text-decoration: none;
  color: var(--white);
  position: relative;
  text-transform: uppercase;
}

header ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  bottom: -7px;

  transition: width .4s ease, left .4s ease;
}

header ul li a:hover::after {
  width: 100%;
  left: 0;
}
