header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--bg-color);
  box-shadow: 0 0 1rem var(--bg-color);
  z-index: 10;
}

header ul li {
  display: inline-block;
  list-style: none;
  margin: 1.5rem 1.5rem;
}

header ul li a {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  color: var(--white);
}

header ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  bottom: -7px;

  transition: width .4s ease, left .4s ease;
}

header ul li a:hover::after {
  width: 100%;
  left: 0;
}
