#skills-section {
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--white);
  padding: 10rem 0;
}

.skliis-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#skills-section h3 {
  margin-bottom: .5rem;
}

#skills-section h3 span {
  color: var(--main-color);
}

#skills-section h1 {
  margin-bottom: 2rem;
}

#skills-section p {
  margin-bottom: 3rem;
}

.skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills ol {
  font-size: 1.2rem;
  padding-top: 2rem;
}

.skills ol li {
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}

.skills ol li::marker {
  color: var(--main-color);
  font-weight: 700;
}


/* ----------- Code for responsive design ----------- */
@media only screen and (max-width: 750px) {
  #skills-section {
    padding: 2rem 0 2rem 2rem;
  }

  .skliis-info-container {
    padding: 5rem 0rem;
  }

  #skills-section h1 {
    margin-bottom: 1rem;
  }

  #skills-section p {
    margin-bottom: 2rem;
    line-height: 1.5;
  }

  .skills ol {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  #skills-section {
    grid-template-columns: 1fr;
    padding-left: 0;
  }

  .skliis-info-container {
    padding: 4rem 1rem 2.5rem 2rem;
  }

  .skills {
    padding-bottom: 2rem;
  }
}